---
import { Code } from '@astrojs/starlight/components'
interface Props {
    html: string;
    css: string;
    js: string;
}
---
<code-cage use-slots>
    <span slot="html"><Code code={Astro.props.html} lang="html" /></span>
    <span slot="css"><Code code={Astro.props.css} lang="css" /></span>
    <span slot="js"><Code code={Astro.props.js} lang="js" /></span>
</code-cage>
<script>
    // @ts-ignore
    import { define } from 'code-cage';
    define();
</script>